/* CSS DOCUMENT */


body {
    margin: 0;
}

h1 {
    color: rgb(0, 60, 175);
    text-align: center;
    font-family: serif;
    font-size: 2.5em;
    margin: 1em 0em 0em 0em;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em; 
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.8em;
}

h3 {
    color: white;
    background-color: rgb(0, 60, 175);
    text-align: center;
    font-family: serif;
    font-size: 1em;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 0.5em;
    margin: 3em 0em 0em 0em;
}

h4 {
    color: rgb(14, 86, 180);
    font-family: serif;
    margin: 2em 0em 0em 0em;
}

li {
    padding: 0em 2em 0em 2em;
    list-style: none;
}

p {
    font-family: sans-serif;
    letter-spacing: 0.05em;
    font-size: 0.8em;
}

.description {
    line-height: 1.5em;
    font-style: italic;
}
