/*CSS document*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;}

body {
    background-color: rgb(45, 47, 49);
}

div.container {
    background-color: rgb(45, 47, 49);
    max-width: 80em;
    margin: auto;
}

header {
    background-color: rgb(180, 180, 180);
    width: 100%;
    padding: 1em 0em 1em 0em;
}

main {
    padding: 2em 1em 1em 1em;
} 

.secondary {
    padding: 1.2em;
}

a {
    text-decoration: none;
}

div.left-copy, div.right-copy {
    padding: 0em 1em;
}

article p {
    padding: 1em 0em 0em 0em;
} 

section {
    padding: 0em 0em 2em 0em;
}

.main-story {
    background-color: rgb(24, 25, 26);
    padding: 1.5em;
}

.image-behind {
    position: relative;
    margin-bottom: 0.5em;
}

.text-front {
    position: absolute;
    bottom: 0em;
    background-color: rgba(28, 29, 31, 0.612);
    padding: 0.7em 0.7em 0.4em 0.7em;
    width: 63%;
}

.space-above {
    padding: 1em 0em 0em 0em;
}

.space-below {
    padding: 0em 0em 0.3em 0em;
}

div.main-story figure {
    padding-bottom: 1em;
}

img {
    width: 100%;
    display: block;
}

nav {
    padding: 0.5em 0em 0.5em 1.5em;
}

nav ul li {
    padding: 0.5em;
    display: inline;
    text-transform: uppercase;
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a {
    text-decoration: none;
    color: rgb(45, 47, 49);
    padding: 0;
}

nav ul li a:hover {
    color:rgb(255, 255, 255);
}

h1 {
    width: 8em;
    padding: 0em 0em 0em 0.5em;
}

h2 {
    color: rgb(237, 183, 91);
    font-family: ofelia-text, sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1.2em;
    padding: 0.5em 0em 0em 0em;
}

h3 {
    color: rgb(237, 183, 91);
    font-family: ofelia-text, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.1em;
}

h3:hover {
    color:rgb(255, 255, 255);
}

h4 {
    color: rgb(240, 240, 240);
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

p {
    color: rgb(240, 240, 240);
    font-family: interstate, sans-serif;
    font-weight: 300;
    font-style: normal;
}

figcaption {
    padding: 0.5em 1.5em 2em 1.5em;
    color: rgb(219, 219, 219);
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8em;
}

aside {
    background-color: rgb(67, 71, 74);
    padding: 1.7em 1.7em 0em 1.7em;
    margin: 2em 0em 0em 0em;
} 

footer {
    background-color: rgb(45, 47, 49);
    text-align: end;
    padding: 1em;
    margin-top: 0;
    font-size: 0.8em;
} 


@media screen and (min-width:65em){
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    header, footer {
        display: grid;
        grid-column: 1/3;
    }

    header {
        width: 100%;
        grid-template-columns: 1fr 2fr;
    }

    header nav {
        margin: auto 0 auto 0;
        text-align: right;
        padding: 0em 2em 0em 0em;
    }

    main {
        grid-column: 1/2;
    }

    div.main-story {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
        align-items: end;

    }

    div.secondary {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1.2em;
        padding: 0em;
    }

    aside {
        grid-column: 2/3;
        background-color: rgba(67, 71, 74, 0);
        padding-top: 3em;
        margin: 0em;
    }

    article {
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }

    figure.main-img {
        grid-column: 1/6;
    }

    div.left-copy {
        grid-column: 1/4;
        padding: 0em 0em 0em 2em;
    }

    div.right-copy {
        grid-column: 3/6;
    }

    div.right-img {
        grid-column: 4/6;
        padding: 0em 2em 0em 2em;
    }

    div.left-img {
        grid-column: 1/3;
        padding: 0em 1em 0em 1em;
    }

    figcaption {
        padding: 0.5em 1.5em 2em 0em;
    }

    div.main-story figure {
        padding-bottom: 0em;
    }

    .indent {
        padding-left: 1.5em;
    }
}
