/*CSS DOCUMENT*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;}

img {
    width: 100%; 
    display: block;
}

body {
    background-color: rgb(44, 44, 44);
}

div.container {
    background-color: rgb(44, 44, 44);
}

header {
    background-color: rgb(44, 44, 44);
    width: 100%;
    padding: 1em 0em 1.5em 0em;
}

main {
    padding: 1.5em;
    background-color: rgb(255, 255, 255);
} 

figure.menuimg {
    margin: 1.5em 0em 1em 0em;
}

figure.map {
    margin-top: 2em;
    filter:grayscale(100%);
}

iframe {
    width:100%; 
    height:450; 
    border:0; 
}

nav {
    padding: 0em 0em 0em 1.5em;
}

nav ul li {
    padding: 0.5em;
    display: inline;
    text-transform: lowercase;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

li.sidebyside {
    display: inline-block;
    margin-right: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    color:rgb(231, 202, 105);
}

button {
    background-color: rgb(44, 44, 44);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.8em 1em 1em 1em;
    text-transform: lowercase;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2em;
}

nav.button {
    padding: 3em 1em 2em 0em;
    text-align: right;
}

button:hover {
    background-color: rgb(173, 139, 27);
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.5em;
}

h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 1em;
}

h4 {
    font-family: sofia-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}

h5 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style: none;
    padding: 0.5em 1em 0.5em 1em;
}

article {
    margin: 1em 0em 2em 0em;
}

footer {
    background-color: rgb(44, 44, 44);
    color:rgb(255, 255, 255);
    text-align: end;
    padding: 1em;
    margin-top: 0;
    font-size: 0.8em;
} 

@media screen and (min-width:48em){
    div.container {
        max-width: 70em;
        margin: auto;
    }
    
    div.imgleft {
        max-width: 70em;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    div.imgright {
        max-width: 70em;
        margin: auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    header, footer {
        grid-column: 1/3;
        display: grid;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 1em 0em 1em 1em;
    }

    header nav {
        margin: auto 0 auto 0;
    }
    
    main {
        padding: 4em 3em 3em 3em;
    }
    
    nav.button {
        padding: 3em 1em 0em 0em;
    }
    
}
